/* Сперва общие правила */

* {
    box-sizing: border-box
}

/* Потом селекторы по тегам */

html {

}

main {
    width: 300px;
    margin: 0px auto;
    font-family: Arial;
}

h2 {
font-size: 150%;
}

h2.big-size {
font-size: 300%
}


p {

}

a {

}

/* Колонки */

.row {
display: flex;
}
.col {
flex: auto;
}


/* Потом селекторы по классам */

.text-input {

}

.button { margin-top: 10px; color: white; background-color: blue;
border-radius:7px; padding: 10px;
}

/* Потом специальные правила по страничкам */

/* Login*/

.input-login { margin-top: 10px;


}


/* Страничка жанров и тегов */

.genre-first {
background-color:   #9D0;
border-radius:      5px;
margin:             10px 0px;
padding:            5px;
width:              90%;

}

.genre-second {
background-color:   #079;
border-radius:      5px;
margin:             10px 0px;
padding:            5px;
width:              70%;
}

.genre-third {
background-color:   #FB6;
border-radius:      5px;
margin:             10px 0px;
padding:            5px;
width:              50%;
}

.genre-fourth {
background-color:   #F7F;
border-radius:      5px;
margin:             10px 0px;
padding:            5px;
width:              40%;
}

.tag {

}

/* Страничка популярного */

.cover {
flex-wrap: wrap;
padding: 10px;
.row {
display: flex;
}
.col {
flex: auto;
}
/*justify-content:*/
}

/* Страничка подписки  */

.box-green {
backcolor: green/*#9D0*/;
}

.box-purple {

}

.text-large {

}

.button-link {

}
